@import "tailwindcss";


*{
    box-sizing: border-box;
    font-family: "Sora";
}

body {
  cursor: url('./img/icon/wrench_svgrepo.com.png'),default;
}


:root{
    --degrade: linear-gradient(270deg, #4BA5FB 0%, #2B4F71 100%);
    --blur:blur(25px);
    --light-blue:#BFDFFA;
    --dark-blue:#20578C;
    --dark-grey:#737373;
    --light-grey:#D9D9D9;
    --border-radius:2.5rem;
    --border-blue: 1px solid #20578C;
    --size-big-title: 3rem;
    --size-text:1.25rem;
    --size-small-text:1rem;
    --size-title:1.75rem;
    --size-small-title:1.5rem;
    --size-btn:1.25rem;
    --weight-title:700;
    --weight-btn:800;
    --capital-letters:all-small-caps;
    --wh-icon:2.8rem;
    --wh-small-icon:1.8rem;
    --montserrat:"Montserrat";
    --sora:"Sora";
    --height-blur-band:11.25rem;
}

.bg-degrade{
    background: var(--degrade);
    color:white;
}

.computer{
    display:flex;
}

nav.computer{
    letter-spacing: 0.08em;
}

.mobile{
    display: none;
}

.cta-1-dark, .cta-2-white{
font-family: 'Sora';
font-weight: 800;
font-size: var(--size-btn);
text-transform: uppercase;
color: #FFFFFF;
background-image: var(--degrade);
text-align: center;
padding:1rem 2rem;
margin:1rem auto;
border-radius: 2rem;
}

.computer .cta-1-dark, .computer .cta-2-white{
margin:1rem;

}

.cta-2-white{
font-family: 'Sora';
font-weight: 800;
font-size: var(--size-btn);
text-transform: uppercase;
background-image: none;
background-color: #FFFFFF;
color:black;
text-align: center;
padding:1rem 2rem;
margin:1rem auto;
border-radius: var(--border-radius);
border:var(--border-blue);
}


h1{
    width:70%;
    
}


h1,h2{
    font-family: "Montserrat";
    font-size: var(--size-big-title);
    font-variant: var(--capital-letters);
    font-weight: var(--weight-title);
    line-height: 29px;
    letter-spacing: 0.1em;
    text-align: center;
    margin:1rem 0;

}

.subtitle{


font-family: 'Sora';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 25px;
text-transform: uppercase;
color: #000000;
letter-spacing: 0;


}

.bloc-1-home .computer h1, .computer .inside-box {
    text-align: left;
    line-height: 3rem;
    width: 100%;
    position: relative;
    left:15rem;
    margin:1rem 0;

}

.bloc-1-home .computer {
    height:120vh;
}

.bloc-1-home .computer .right{
   background: url(./img/logo/logo.png) no-repeat center;
   background-color: var(--light-blue);
}



p,label{
    margin:1rem;
    letter-spacing: 0.09em;

}

.bloc-1-home h3{
    letter-spacing: 0.09em;

}

form input, textarea{
    background-color: var(--light-grey);
    margin: auto 1rem;
    border-radius: var(--border-radius) ;
    padding:1rem;
}

h2{
    font-size: var(--size-title);
    text-align: left;
    color:var(--dark-blue);

}

.icon{
    width:var(--wh-small-icon);
    height: var(--wh-small-icon);
    
}

#contact .icon{
    width:var(--wh-small-icon);
    margin:1rem;
}

i{
    color:var(--dark-blue);
    font-size: 1.25rem;
    margin:1rem; 
}

.search-bar{
    background-color: white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border:var(--border-blue);
    border-radius: var(--border-radius);
    overflow: hidden;
    width: fit-content ;
    max-width: 90%;
    height: 3.5rem;
    margin:2rem auto;
    
}

.search-bar input{
    padding:0.5rem 2rem;
    width:80%;
    font-weight:600;
}
.search-bar input:focus{
    outline:none;
}

.search-bar button {
    height:5rem;
    width:20%;
    max-width: 5rem;
    min-width: 2rem;
    background: var(--degrade);
    display: flex;
 
}

.search-bar button img{
    margin:auto;
    width:2rem;
}

.view-on-device .info-search-bar div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.info-search-bar .search-name{
    font-size: var(--size-title);
    font-weight: var(--weight-title);
    margin-right:0.5rem;
    
}

#pieces .info-search-bar .btn .filter{
    background: var(--degrade);
    color:white
    
}

.popup-filter *{
    letter-spacing: 0;
}

.info-search-bar .btn{
    justify-content: end;
    flex-direction: row;
}

.info-search-bar .btn>button,select{
    display: flex;
    width: fit-content;
    align-items: center;
    padding:0.5rem 0.75rem;
    margin-left:1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    background-color: var(--light-grey);
}

select option{
    font-family: var(--sora);
}

.search-results{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height:50vh;
}


.item-search-view{
    width:22.188rem;
    min-height:32.563rem;
    box-shadow: 0px 10px 10px #00000025;
    border-radius:1rem;
    margin:1rem;
    overflow: hidden;
   background-color: white;
}

.item-search-view i {
    margin: 0 0.35rem;
    font-size: 1rem;    
}

.details{
position: fixed;
display: flex;
flex-direction: column;
justify-items: center;
align-items: center;
width:100vw;
height:100vh;
background-color: var(--light-blue);
padding:1rem;
padding-top:5rem;
overflow: scroll;
}

.details.reservation .content-reservation {
   background-color: white;
   min-height:125vh;
   height:fit-content;
   border-radius: var(--border-radius);
   padding:1rem 0;

}
.details.reservation .content-reservation .item-search-view *{
    font-size: 1rem;

}
.details.reservation .content-reservation .item-search-view{
    width:70%;
    margin:auto;
    min-height: 20%;
}

.details.reservation .content-reservation .item-search-view .text-item{
    margin:0;
    width: 100%;
    margin-left:1rem;

}

.details.reservation .content-reservation .item-search-view .text-item{
    justify-content: space-around;

}
.details.reservation .content-reservation{
    width:80%;
    display: flex;
    flex-direction: column;
}

.details.reservation .content-reservation .item-search-view .description,
.details.reservation .content-reservation .item-search-view .cta-1-dark, 
.details.reservation .content-reservation .item-search-view .category,
.details.reservation .content-reservation .item-search-view .img button{
    display:none;

}
.details.reservation .content-reservation .item-search-view{
    flex-direction: row;
    max-width: 40rem;
    margin:0 auto;
}

.details.reservation .content-reservation hr{
    width:70%;
    max-width: 30rem;
    margin: 0 auto;
    color: #0000004e;
}

.details.reservation .content-reservation .item-search-view .img{
    min-width:10rem;
    max-width: 10rem;
    min-height:10rem;
}

.details.reservation .content-reservation form{
    display:flex;
    flex-direction: column;
    width:100%;
    max-width:35rem;
    margin: 1rem auto;
    padding:1rem;

}

.details.reservation .content-reservation form input, 
.details.reservation .content-reservation form textarea{
    max-width:100%;

}

.details.reservation .item-search-view .text-item{
   
    padding:0;
}

.details .bandeau{
   display: flex;
   justify-content: space-between;
   align-items: center; 
   width:100vw;
   padding:2rem;
}

.details .item-search-view{
    width:90%;
    display: flex;
    border:none;
    padding:2rem;
    align-items: center;
    overflow: scroll;

}

.details .item-search-view .img{
    width:50%;
    height:100%;
    margin:0;
}
.details .item-search-view .text-item{
    width:50%;
    margin: auto;
    padding:2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.details .item-search-view .text-item .description{
   display: block;
}

.item-search-view .img{
    width:100%;
    height:18.25rem;
    background-color: var(--light-grey);
    margin:0 0 1rem 0;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: end;
    background-size: cover;
    background-position: center;
    transition: background-image 3s ease-in-out;
    opacity: 1;
    
}


.item-search-view .text-item{
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:35%;
    
}

.item-search-view .text-item .title-item,
.item-search-view .text-item .state-price-item{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-search-view .text-item .title-item h3{ 
    font-size: var(--size-title);
    font-weight: var(--weight-title);
}

.item-search-view .text-item .category{ 
    color:var(--dark-grey);

}


.item-search-view .text-item .state-price-item .state{ 
    color:var(--dark-blue);

}

.item-search-view .text-item .state-price-item h3{ 
    font-weight: 700;
    font-size: var(--size-small-title);
}

.blur-bg{
    width:100%;
    overflow: hidden;
    position: relative;
    bottom:10rem;
    height:var(--height-blur-band);
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: var(--blur);
    border-top:var(--border-blue);
    border-bottom:var(--border-blue);



}

.home-blur-bg {
    width:100%;
    overflow: hidden;
    position: relative;
    bottom:10rem;
    height:15rem;
    backdrop-filter: var(--blur);
    border-top:var(--border-blue);
    border-bottom:var(--border-blue);



}

.view-on-device{
    transform: scale(0.8);
    width:100%;
    height:45rem;
    overflow: scroll;
    align-self: center;
    border:2rem solid black;
    border-radius: var(--border-radius);
    padding:5rem;
}

.view-on-device .info-search-bar,.view-on-device .search-results,.view-on-device .blur-bg {
            display: none;
            opacity: 0;
            transition: opacity 2s ease-in;
        }


.galerie, .slide{
    margin: 2rem;
    width:36.875rem;
    height:27.375rem;
    align-self: center;
    background-color: var(--dark-grey);
    display: flex;
    justify-content: center;
    align-items: end;
    border-radius: 0.625rem;
    background-size: cover;
    background-position: center;
    transition: background-image 3s ease-in-out;
    opacity: 1;

}

.slide{
    width:100vw;
    height:50vh;
    background-size:50%;
    background-color: transparent;
    background-repeat: no-repeat;

}

.mobile .slide{
    background-size: 15rem;
}




footer{
    background: var(--light-blue);
}
 .mySlides {
            display: none;
        }



 .fade {
            animation-name: fade;
            animation-duration: 1.5s;
        }

        @keyframes fade {
            from {opacity: .4}
            to {opacity: 1}
        }

        .galerie{

    width:32rem;
    height:27.375rem;
    align-self: center;
    border-radius: 0.625rem;
    background-size: cover;
    background-position: center;
    transition: background-image 3s ease-in-out;
    opacity: 1;

}

.point {
    background-color: rgba(255, 255, 255, 0.675);
    /* Ajoutez d'autres styles par défaut pour le bouton */
}

.point.highlight {
    background-color: rgb(255, 255, 255);
    border:var(--border-blue); /* Jaune pour la surbrillance, vous pouvez choisir une autre couleur */
    /* Ajoutez d'autres styles pour le bouton en surbrillance */
}

.indisponible{
    background: var(--light-grey);
    
}

.indisponible .cta-1-dark{
    background: grey;
}

@media screen and (max-width:1120px){

   :root{
    --size-big-title: 1.5rem;
    --size-text:1rem;
    --size-small-text:1rem;
    --size-title:1.25rem;
    --size-btn:1rem;
    --size-small-title:0.875rem;
    --border-blue: 1px solid #20578C;
    --height-blur-band:20rem;


}

.bloc-1-home{
    background-color: var(--light-blue);
    height:fit-content;
}

.view-on-device .search-results .item-search-view:nth-last-child(1),
.view-on-device .search-results .item-search-view:nth-last-child(2),
.view-on-device .search-results .item-search-view:nth-last-child(3),
.view-on-device .search-results .item-search-view:nth-last-child(4){
    display:none;
}



.view-on-device{
    transform: scale(0.6);
    width:150%;
    height:55rem;
    overflow: scroll;
    align-self: center;
    border:1rem solid black;
    border-radius: var(--border-radius);
    padding:1rem;
}

.galerie{

    width:21.063rem;
    height:27.375rem;
    align-self: center;
    border-radius: 0.625rem;
    background-size: cover;
    background-position: center;
    transition: background-image 1s ease-in-out;
    opacity: 1;

}


.computer{
    display:none;
}

.mobile{
    display:  flex;
    align-items: center;
    justify-content: center;
    width:100%;
}


.details.reservation .content-reservation{
    width:100%;
    border-radius: 0;
}

.details.reservation .content-reservation .item-search-view .img{
    max-width:5rem;
    min-width:5rem;
    max-height:5rem;
    min-height:5rem;
    margin-right:2rem;

}

.details.reservation .content-reservation .item-search-view *{
    font-size: 0.75rem;

}

.details{
padding:0;
padding-top:3rem;
}
.details .bandeau{
    padding-bottom: 0;
}

.details .item-search-view{
    width: 100%;
    margin: 0;
    border-radius: 0;
    flex-direction: column; 
}

.details .item-search-view .img{
   width: 100%;
   max-width: 30rem;
   min-height:25rem;
}

.details .item-search-view .text-item{
    width: 100%;
    max-width: 30rem;
    padding: 1rem 0;

}

.details.reservation .item-search-view .text-item{
    width: 100%;
    max-width: 30rem;
    height:100%;
    padding: 1rem 0;

}

.details.reservation .content-reservation .item-search-view{
    min-height: 20%;
    width:100%;
    max-width: 30rem;
    margin:0 auto;
}





}